:root{
    --rose-800:hsl(332,51%,32%);
    --rose-50:hsl(330,100%,98%);
    --stone-900:hsl(24,5%,18%);
    --stone-600:hsl(30,10%,34%);
    --stone-150:hsl(30,18%,87%);
    --stone-100:hsl(30,54%,90%);
    --brown-800:hsl(14,45%,36%);
    --white:hsl(0,0%,100%);
    --fs40:2.5rem;
    --fs16:1rem;
    --fs28:1.75rem;
    --fs20:1.25rem;
}
body, html{
    height: 100%;
    margin: 0;
    background-color: var(--stone-100);
}
@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}
h1, h2, p, ul, td, hr{
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 128px 0;
}
.card{
    width: 656px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 40px;
}
img{
    border-radius: 12px;
    display: block;
    width:656px;
}
.card-desc{
    margin-top: 40px;
}
.card-desc div{
    margin-bottom: 32px;
}
.card-desc div:last-child{
    margin-bottom: 0;
}
.card-desc ul, ol{
    padding-left: 8px;
    color: var(--stone-600);
    font-size: var(--fs16);
    line-height: 150%;
    font-family: 'Outfit';
    list-style: inside;
}
.card-desc ul li, ol li{
    margin-bottom: 8px;
}
.card-desc ul li:last-child, ol li:last-child{
    margin-bottom: 0;
}
ol{
  counter-reset: section;
  list-style-type: none;
}

.total-list-elem::before{
    content: "•";
    font-size: 29px;
    line-height: 0px;
    vertical-align: middle;
    color: var(--brown-800);
}
ol li, .total-list-elem{
    display: flex; /* Use flexbox to align items */ 
    align-items: baseline; /* Align items on the baseline */ 
}
.total-list-elem{
    align-items: center;
}
ol li::before {
    counter-increment: section;
    content: counters(section,".") ".";
}

li span{
    display: inline-block; /* Ensure span does not break the flex alignment */
    margin-left: 16px;
}
.total-list-elem span{
    margin-left: 14px;
}
li::marker, ol li::before {
    color: var(--brown-800);
    font-size: var(--fs16);
    font-weight: 700;
}

h1{
    font-family: 'Young Serif';
    font-size: var(--fs40);
    line-height: 100%;
    color: var(--stone-900);
    font-weight: 400;
    margin-bottom: 24px;
}
p{
    color: var(--stone-600);
    font-family: 'Outfit';
    font-weight: 400;
    font-size: var(--fs16);
    line-height: 150%;
}
h2{
    color: var(--brown-800);
    font-family: 'Young Serif';
    font-size: var(--fs28);
    line-height: 100%;
    margin-bottom: 24px;
    font-weight: 400;
}
.prep-section{
    margin-top: 32px;
    padding: 24px;
    background-color: var(--rose-50);
    border-radius: 12px;
}
.prep-section, .prep-section h2{
    font-family: 'Outfit';
}
.prep-section h2{
    color: var(--rose-800);
    font-size: var(--fs20);
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 16px;
}
.nutritional-section p{
    margin-bottom: 24px;
}
table { 
    border-collapse: collapse; /* Ensure borders collapse together */
    font-family: 'Outfit';
    font-size: var(--fs16);
    line-height: 150%;
    width:656px;
} 
table td { 
    border-bottom: 1px solid var(--stone-150); /* Apply border to table cells */
    padding: 12px 0;
} 
table td:first-child{
    padding-left: 32px;
    color: var(--stone-600);
    font-weight: 400;
}
table td:last-child{
    padding-left: 16px;
    padding-right: 32px;
    color: var(--brown-800);
    font-weight: 700;
}
hr{
    margin-bottom: 32px;
    border:0;
    width:100%;
    height:1px;
    background:var(--stone-150);;
}
table tr:first-child td{
    padding-top: 0;
}
table tr:last-child td{
    padding-bottom: 0;
    border-bottom: 0;
}

@media (min-width: 375px) and (max-width: 767px) {
    .content {
        padding: 0;
    }
    .card{
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
    img{
        width: 100%;
        border-radius: 0;
    }
    table{
        width: 100%;
    }
    .card-desc {
        margin-top: 0;
        padding: 40px 32px;
    }
    .total-list-elem::before {
        font-size: 26px;
    }
}     